<!DOCTYPE html>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <input type="text" v-on:keyup.aaa="handle" v-model="info">
</div>
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript">
    Vue.config.keyCodes.aaa = 65;
    var vm = new Vue({
        el:'#app',
        data:{
            info:''
        },
        methods:{
            handle: function (event) {
                console.log(event.keyCode)

            }
        }
    })

</script>
</body>
</html>